
body{
    background-image:url(https://scontent-cai1-1.xx.fbcdn.net/v/t1.0-9/15326612_587626291430608_4533259536988816229_n.jpg?oh=e90f168cf90cabea57d840b7fc76d997&oe=593B1C1A);
    background-size: cover;
    background-position: center;
    
}
html{
    height: 100%;
}
.content{
    text-align: center;
    padding-top: 15%;

}
h3{
    font-family:'LuckiestGuy';
    color: black;
    font-size: bold ;
    font-size: 3em;
}
h5{
    color: whitesmoke;
    font-style: italic;
    font-family: Lobster;
    font-size: 2em;
}
hr{

    width: 400px;
    color: aqua;}



.navbar-inverse .navbar-nav>li>a{
    color: white;
    
}
.navbar-inverse .navbar-brand{
    color: white;
}

#dr{
    padding-top: 7%;
}
#dr1{
    padding-left: 4px;
    padding-top: 9%;
}

#jumbo{
    padding-top: 7%;
    
}
.pa{
    color: darkblue;
}
#btt{
    text-align: center;
    
}





